<!doctype html>
<html>
<head>
    <title>Demo</title>
    <style>
        body {
            width: 778px;
            margin: 0 auto;
        }
    </style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    @RenderBody()
    <script src="/lib/app.min.js"></script>
</body>
</html>