<!doctype html>
<html>
<head>
    <title>Demo</title>
    <style>
        body {
            width: 778px;
            margin: 0 auto;
        }
        
        .fa {
            margin-left: 10px;
            cursor: pointer;
        }
        
        .todo {
            overflow: hidden;
        }
        
        section {
            float: left;
            width: 500px;
        }
        
        aside {
            float: left;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    @RenderBody()
    <script src="/lib/app.min.js"></script>
</body>
</html>